#sidebar-first .region-sidebar-first > div, #sidebar-second .region-sidebar-second > div {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em; }

#sidebar-first .region-sidebar-first > div + div, #sidebar-second .region-sidebar-second > div + div {
  margin-top: 1em; }

#sidebar-second .region-sidebar-second > div:last-child, #sidebar-first .region-sidebar-first > div:last-child {
  border-bottom: medium none; }

#sidebar-first .content {
  margin-top: 5px; }

#sidebar-first .block-menu > .content {
  margin-top: 0; }

#sidebar-second .region-sidebar-second > div {
  padding-bottom: 0.5em;
  padding-top: 5px; }

#sidebar-second .region-sidebar-second > div:first-child, #sidebar-second > div.content, #sidebar-second .region-sidebar-second > div:first-child > .content {
  margin-top: 0;
  padding-top: 0;
}

#sidebar-first ul.menu, #audience-menu ul.menu {
  margin: 0; }

#sidebar-first ul.menu li, #audience-menu ul.menu li {
  border-top: 1px dotted #252525;
  font-size: 15px;
  list-style: outside none none;
  margin: 0;
  padding: 0; }

#sidebar-first ul.menu li.first, #audience-menu ul.menu li.first {
  border-top: medium none; }

#sidebar-first ul.menu li li, #audience-menu ul.menu li li {
  border-top: medium none;
  font-size: 14px; }

#sidebar-first ul.menu li li.first a, #audience-menu ul.menu li li.first a {
  padding-top: 3px; }

#sidebar-first ul.menu li li a, #audience-menu ul.menu li li a {
  padding-left: 25px; }

#sidebar-first ul.menu li li li a, #audience-menu ul.menu li li li a {
  padding-left: 35px; }

#sidebar-first ul.menu li li li li a, #audience-menu ul.menu li li li li a {
  padding-left: 45px; }

#sidebar-first ul.menu li a, #audience-menu ul.menu li a {
  color: #252525;
  display: block;
  padding: 10px 15px;
  text-decoration: none; }

#sidebar-first ul.menu li a:hover, #audience-menu ul.menu li a:hover, #sidebar-first ul.menu li a:active, #audience-menu ul.menu li a:active, #sidebar-first ul.menu li a:focus, #audience-menu ul.menu li a:focus {
  background-color: #c34500;
  color: #fff; }

#sidebar-first ul.menu li.active-trail > a.active:hover, #audience-menu ul.menu li.active-trail > a.active:hover, #sidebar-first ul.menu li.active-trail > a.active:active, #audience-menu ul.menu li.active-trail > a.active:active, #sidebar-first ul.menu li.active-trail > a.active:focus, #audience-menu ul.menu li.active-trail > a.active:focus, #sidebar-first ul.menu li li > a.active, #audience-menu ul.menu li li > a.active {
  background: none repeat scroll 0 0 #f5f2ed;
  color: inherit; }

#sidebar-first .content > ul.menu > li > a.active, #audience-menu .content > ul.menu > li > a.active {
  color: #c34500; }

#sidebar-first .content > ul.menu > li > a.active:hover, #audience-menu .content > ul.menu > li > a.active:hover, #sidebar-first .content > ul.menu > li > a.active:active, #audience-menu .content > ul.menu > li > a.active:active, #sidebar-first .content > ul.menu > li > a.active:focus, #audience-menu .content > ul.menu > li > a.active:focus {
  color: #fff; }
