<div id='sidebar-first' class='span3'>
    <div class="region region-sidebar-first">
        <div id="block-block-81" class="block block-block">
            <div class="content">
                <p><a href="/"><img src="{{ SITEURL }}/images/logo-sm.png" style="padding:-5px" /></a></p>
            </div>
        </div>
        <div id="block-views-categories-block" class="block block-views">
          <h2>Recent Stories</h2></li>
            <div class="content">
              <ul>
              {% for article in articles[:15] %}
                <li class="views-row side-blog-list"><a href='/{{ article.url }}'>{{ article.title }}</a></li>
              {% endfor %}
            </ul>
            <div id="block-block-61" class="block block-block">
                <div class="content">
                    <ul class='menu'>
                        <li class='leaf'><a href="/units/osuosl" class="side-link">Open Source Lab</a></li>
                        <li class='leaf'><a href="/units/software-dev-group" class="side-link">Software Development Group</a></li>
                        <li class='leaf'><a href="/units/test-lab" class="side-link">Test Lab</a></li>
                        <li class='leaf'><a href="/units/iot-lab" class="side-link">IoT Test & Compatibility Lab</a></li>
                    </ul>
                        <!--<p><a href="http://cass.oregonstate.edu/" target="_blank"><img alt="Open Source Lab logo" src="http://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/images/cass.png" style="width:265px" /></a></p>-->
                </div>
            </div>
            <!-- <div id="block-block-1" class="block block-block">
                <div class="content">
                    <div style="margin: 0 auto; display: block;">
                        <a href="http://twitter.com/osuosl"><img alt="Follow us on Twitter" src="{{ SITEURL }}/theme/img/social-media/twitter-32.png" style="background:#00B0ED; padding:5px; max-width: 25px;" /></a>
                        <a href="http://facebook.com/osuosl"><img alt="Like us on Facebook" src="{{ SITEURL }}/theme/img/social-media/facebook-32.png" style="background:#3B5998; padding:5px; max-width: 25px;" /></a>
                        <a href="https://github.com/osuosl"><img alt="Fork us on Github" src="{{ SITEURL }}/theme/img/social-media/github-32.png" style="background:#000; padding:5px; max-width: 25px;" /></a>
                        <a href="http://youtube.com/osuopensourcelab"><img alt="Youtube Icon" src="{{ SITEURL }}/theme/img/social-media/youtube_0.png" style="background:#CD201F; padding:5px; max-width: 25px;" /></a>
                        <a href="https://plus.google.com/107361178205293595706?rel=author"><img alt="Gplus Icon" src="{{ SITEURL }}/theme/img/social-media/google-32.png" style="background:#DD4B39; padding:5px; max-width: 25px;" /></a>
                    </div>
                </div>
            </div> -->
            </div>
          </div>
        </div>

      </div>
