<div id='sidebar-first' class='span3'>
    <div class="region region-sidebar-first">
        <div id="block-block-81" class="block block-block">
            <div class="content">
                {% if IS_OSL %}
                    <p><a href="https://osuosl.org"><img src="{{ SITEURL }}/images/{{ OSLLOGO }}" style="padding:-5px" /></a></p>
                {% endif %}
                {% if IS_CASS %}
                    <p><img src="{{ SITEURL }}/images/{{ CASSLOGO }}" style="padding:-5px" /></p>
                    <ul class='menu'>
                        <p><a href="{{ SITELOG_URL }}"><img src="{{ SITEURL }}/images/{{ SITELOGO }}" style="padding:-5px" /></a></p>
                        <p>
                            {{ SITENAME }}<br />
                            {{ BUILDING }}<br />
                            {{ STREET_ADDRESS }}<br />
                            {{ CITY_ZIP }}<br>

                            {% for e in EMAIL %}
                                <a href="mailto:{{ e.address }}">{{ e.address }}</a><br>
                            {% endfor %}
                            Phone: {{ PHONE_NUM }}
                        </p>
                        <li class='leaf'><a href='{{ DONATE_LINK }}'><i class='fa fa-gift' aria-hidden='true'></i> Make a Gift</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
        <div id="block-views-categories-block" class="block block-views">
          <h2>Recent Stories</h2></li>
            <div class="content">
              <ul>
              {% for article in articles[:15] %}
                <li class="views-row side-blog-list"><a href='/{{ article.url }}'>{{ article.title }}</a></li>
              {% endfor %}
            </ul>
            {% if IS_OSL %}
            <ul class='menu'>
                <li class='leaf'><a href="https://cass.oregonstate.edu" class="side-link">Center for Applied Systems and Software</a></li>
                <li class='leaf'><a href="https://eecs.oregonstate.edu" class="side-link">Electrical Engineering and Computer Science</a></li>
                <li class='leaf'><a href='{{ DONATE_LINK }}' class="side-link">Donate</a></li>
                <li class='leaf'><a href="/contact" class="side-link">Contact</a></li>
                </ul>
            </div>
        </div>
        <div id="block-block-1" class="block block-block">
            <div class="content">
                <div style="margin: 0 auto; display: block;">
                    <a href="https://twitter.com/osuosl"><img alt="Follow us on Twitter" src="{{ SITEURL }}/theme/img/social-media/twitter-32.png" style="background:#00B0ED; padding:5px; max-width: 25px;" /></a>
                    <a href="https://facebook.com/osuosl"><img alt="Like us on Facebook" src="{{ SITEURL }}/theme/img/social-media/facebook-32.png" style="background:#3B5998; padding:5px; max-width: 25px;" /></a>
                    <a href="https://github.com/osuosl"><img alt="Fork us on Github" src="{{ SITEURL }}/theme/img/social-media/github-32.png" style="background:#000; padding:5px; max-width: 25px;" /></a>
                    <a href="https://youtube.com/osuopensourcelab"><img alt="Youtube Icon" src="{{ SITEURL }}/theme/img/social-media/youtube_0.png" style="background:#CD201F; padding:5px; max-width: 25px;" /></a>
                    <a href="https://plus.google.com/107361178205293595706?rel=author"><img alt="Gplus Icon" src="{{ SITEURL }}/theme/img/social-media/google-32.png" style="background:#DD4B39; padding:5px; max-width: 25px;" /></a>
                </div>
            </div>
        </div>
        <div>
          <h2><a href="https://lists.osuosl.org/mailman/listinfo/osl-newsletter">Newsletter Sign Up</a></h2>
          {% endif %}
            </div>
          </div>
        </div>

      </div>
