<script type="text/javascript">

var API_KEY = '';

// Your Client ID can be retrieved from your project in the Google
// Developer Console, https://console.developers.google.com
var CLIENT_ID = '';

var SCOPES = [
    "https://www.googleapis.com/auth/calendar.readonly"
];

var CALENDAR_ID = 'oregonstate.edu_s37pfj8sngtqk8s9fj66pslji8@group.calendar.google.com';

/**
 * Bootstrap the Calendar API.
 */
function start() {
    gapi.client.init({
        'apiKey': API_KEY,
        'clientId': CLIENT_ID,
        'scope': SCOPES.join(' '),
        'discoveryDocs': ['https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest'],
    }).then(listUpcomingEvents);
}

/**
 * Print the summary and start datetime/date of the next ten events in
 * the authorized user's calendar. If no events are found an
 * appropriate message is printed.
 */
function listUpcomingEvents() {
    var request = gapi.client.calendar.events.list({
        'calendarId': CALENDAR_ID,
        'timeMin': (new Date()).toISOString(),
        'showDeleted': false,
        'singleEvents': true,
        'maxResults': 10,
        'orderBy': 'startTime'
    });

    request.execute(function(resp) {
        var events = resp.items;

        if (events.length > 0) {
            for (i = 0; i < events.length; i++) {
                appendEvent(events[i]);
            }
        } else {
            var p = document.createElement('p');
            p.append(document.createTextNode('No upcoming events.\n'));
            document.getElementById('upcoming-events').append(p);
        }

    });
}

/**
 * Append an event to the widget.
 */
function appendEvent(event) {
    var p = document.createElement('p');

    var when = event.start.dateTime;
    if (!when) {
        when = event.start.date;
    }

    p.append(document.createTextNode(event.summary + ' (' + when + ')'));
    document.getElementById('upcoming-events').append(p);
}
</script>
<script src="https://apis.google.com/js/api.js" onload="gapi.load('client', start);"></script>

<div id="upcoming-events">
    <h4>Upcoming Events at CASS</h6>
</div>
