<div id='footer'>
    <div class='container'>
        <div class='row'>
            <div class='span2 contact'>
                <h3>Contact Info</h3>
                <div class="specific-contact">
                    <!-- removed because we have no idea where $footer_message should be set
                            -->
                </div>
                <div class="general-contact">
                    <a href="http://oregonstate.edu/copyright">Copyright</a>
                    &copy;2015              Oregon State University<br />
                    <a href="http://oregonstate.edu/disclaimer">Disclaimer</a>
                </div>
                <div class="social-media"></div>
            </div>
            <div class='span10'>
                <div class="region region-footer">
                    <div id="block-menu-menu-footer-menu" class="block block-menu">


                        <div class="content">
                            <ul class="menu"><li class="first leaf"><a href="/" title="Go to homepage" class="active">Home</a></li>
                                <li class="expanded"><a href="/about" title="">About</a></li>
                                <li class="expanded"><a href="/units" title="">Organization</a>
                                  <ul class="menu">
                                    <li class="leaf"><a href="/staff" class="submenu">Staff</a></li>
                                    <li class="leaf"><a href="/researchers">Researchers</a></li>
                                    <li class="leaf"><a href="/osl-bsg-students">Students</a></li>
                                    <li class="leaf"><a href="/alumni">Alumni</a></li>
                                    <li class="leaf"><a href="/projects">Projects</a></li>
                                    <li class="leaf"><a href="/units">Units</a></li>
                                    <li class="leaf"><a href="/units/osuosl">Open Source Lab</a></li>
                                    <li class="leaf"><a href="/units/software-dev-group">Software Development Group</a></li>
                                    <li class="leaf"><a href="/units/test-lab">Test Lab</a></li>
                                    <li class="last leaf"><a href="/units/iot-lab" class="submenu">IoT Test & Compatibility Lab</a></li>
                                  </ul>
                                </li>
                                <li class="expanded"><a href="/services" title="">Services</a></li>
                                <li class="expanded"><a href="/students">Student Experience</a>
                                  <ul class="menu">
                                    <li class="first last leaf"><a href="/employment">Employment</a></li>
                                  </ul>
                                </li>
                          </ul>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
