<div id='footer'>
<div class='container'>
  <div class='row'>
    <div class='span2 contact'>
      <h3>Contact Info</h3>
      <div class="content">
        <p>OSU Open Source Lab<br />
        Kerr Admin B211<br />
        Corvallis, OR 97331<br />
        General Inquiries:<br /><span style="color: #C34500;"><a href="mailto:info@osuosl.org">info@osuosl.org</a></span><br />
        Support for Project Infrastructure<br /><span style="color: #C34500;"><a href="mailto:support@osuosl.org">support@osuosl.org</a></span><br />
        Questions about Donations:<br /><span style="color: #C34500;"><a href="mailto:donations@osuosl.org">donations@osuosl.org</a></span></p>
      </div>
      <a href="http://oregonstate.edu/copyright">Copyright</a>
      &copy;2015 Oregon State University<br />
      <a href="http://oregonstate.edu/disclaimer">Disclaimer</a>
    </div>
    <div class='span10'>
      <div class="region region-footer">
        <div id="block-menu-menu-footer-menu" class="block block-menu">
          <div class="content">
            <ul class="menu">
              <li class="first leaf"><a href="/" title="Go to homepage" class="active">Home</a></li>
              {% for page in pages | sort(attribute='order') %}
              {% if page.top_menu == 'parent' %}
              <li class="expanded"><a href='/{{ page.slug }}'>{{ page.title }}</a>
                <ul>
                  {% if page.duplicate_name %}
                  <li class='leaf'><a href='/{{ page.slug }}'>{{ page.duplicate_name }}</a></li>
                  {% endif %}
                  {% for pchild in pages | sort(attribute='order') %}
                  {% if pchild.menu_parent == page.menu_child %} 
                  <li class="leaf"><a href='/{{ pchild.slug }}'>{{ pchild.title }}</a>     
                    {% endif %}
                    {% endfor %}
                </ul>
                  </li>
                  {% elif page.top_menu%}
                  <li><a href='/{{ page.slug }}'>{{ page.title }}</a></li>
                  {% endif %}
                  {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

