<div id='page-wrapper' class='container'>
    <div id='header' class='row-fluid'>
        <a class="parent" href='http://eecs.oregonstate.edu'>School of Electrical Engineering and Computer Science</a>
        <h1><a href='/'>Center for Applied Systems and Software</a></h1>
    </div>
<ul id="mobile-menu" role="navigation">
    <li id="mobile-main-menu">
        <ul class="menu">
            <li class="first leaf"><a href="/" class="active">Home</a></li>
            <li class="leaf"><a href="/about">About</a>
            <li class="leaf"><a href="/units">Organization</a></li>
            <li class="leaf"><a href="/services">Services</a></li>
            <li class="leaf"><a href="/students">Student Experience</a></li>
            <li class="leaf"><a href="/blog">Blog</a></li>
            <li class="leaf"><a href="/contact">Contact Us</a></li>
        </ul>
    </li>
    <li class="leaf"><a href="/">Home</a></li>
    <li class="leaf"><a href="/about">About</a>
    <li class="expanded"><a href="/units">Organization</a>
        <ul class="menu">
            <li class="first collapsed"><a href="/staff">Staff</a></li>
            <li class="leaf"><a href="/researchers">Researchers</a></li>
            <li class="collapsed"><a href="/osl-bsg-students">Students</a></li>
            <li class="collapsed"><a href="/alumni">Alumni</a></li>
            <li class="collapsed"><a href="/projects">Projects</a></li>
            <li class="last collapsed"><a href="/units">Units</a>
                <ul class="menu">
                    <li class="first collapsed"><a href="/units/osuosl">Open Source Lab</a></li>
                    <li class="collapsed"><a href="/units/software-dev-group">Software Development Group</a></li>
                    <li class="collapsed"><a href="/units/test-lab">Test Lab</a></li>
                    <li class="collapsed"><a href="/units/iot-lab">IoT Test & Compatibility Lab</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="leaf"><a href="/services">Services</a></li>
    <li class="expanded"><a href="/students">Student Experience</a></li>
        <ul class="menu">
            <li class="first leaf"><a href="/employment">Employment</a></li>
        </ul>
    </li>
    <li class="leaf"><a href="/blog">Blog</a></li>
    <li class="leaf"><a href="/contact">Contact Us</a></li>
</ul>
</li>

</ul>
<!-- Main menu navbar -->
<div id='main-menu' role="navigation">
    <div class="region region-nav">
        <div id="block-nice-menus-1" class="block block-nice-menus">
            <div class="content">
                <ul class="nice-menu nice-menu-down nice-menu-main-menu" id="nice-menu-1">
                    <li class="menu-217 menu-path-front first odd "><a href="/" class="active">Home</a></li>
                    <li class="menu-452  menu-path-node-17  even "><a href="/about">About</a></li>
                    <li class="menu-452 menuparent  menu-path-node-17  even "><a href="/about/people">Organization</a>
                        <ul>
                            <li class="menu-730 menu-path-about-people  even "><a href="/staff">Staff</a></li>
                            <li class="menu-730 menu-path-about-people  even "><a href="/about/people">Researchers</a></li>
                            <li class="menu-730 menu-path-about-people  even "><a href="/osl-bsg-students">Students</a></li>
                            <li class="menu-730 menu-path-about-people  even "><a href="/alumni">Alumni</a></li>
                            <li class="menu-730 menu-path-about-people  even "><a href="/projects">Projects</a></li>
                            <li class="menu-730 menuparent menu-path-about-people  even "><a href="/units">Units</a>
                                <ul>
                                    <li class="menu-730 menu-path-about-people even"><a href="/units/osuosl">Open Source Lab</a></li>
                                    <li class="menu-730 menu-path-about-people even"><a href="/units/software-dev-group">Software Development Group</a></li>
                                    <li class="menu-730 menu-path-about-people even"><a href="/units/test-lab">Test Lab</a></li>
                                    <li class="menu-730 menu-path-about-people even"><a href="/units/iot-lab">IoT Test & Compatibility Lab</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-1796  menu-path-node-103  even "><a href="/services">Services</a></li>
                    <li class="menu-452 menuparent  menu-path-node-17  even "><a href="/students">Student Experience</a>
                        <ul>
                            <li class="menu-2066 menu-path-about-employment  odd first"><a href="/employment">Employment</a></li>
                        </ul>
                    </li>
                    <li class="menu-344 menu-path-blog odd "><a href="/blog">Blog</a></li>
                    <li class="menu-1039 menu-path-node-22 even last"><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /#main-menu -->
