<script type='text/javascript'>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', "UA-48705802-1"]);
_gaq.push(['_trackPageview']);
(function() {
 var ga = document.createElement('script');
 ga.type = 'text/javascript';
 ga.async = true;
 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
 })();
</script>

<!--<script type="text/javascript" src="{{ SITEURL }}/theme/js/js-old/js1.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/js-old/js2.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/js-old/js3.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/lightbox.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/feature_story.js"></script>-->

<script type="text/javascript" src="{{ SITEURL }}/theme/js/js-old/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/slick/slick.min.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
var _gaq = _gaq || [];_gaq.push(["_setAccount", "UA-537692-1"]);_gaq.push(["_setDomainName", "none"]);_gaq.push(["_setAllowLinker", true]);_gaq.push(["_trackPageview"]);(function() {var ga = document.createElement("script");ga.type = "text/javascript";ga.async = true;ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga, s);})();
//--><!]]>
</script>
<!--<script type="text/javascript" src="{{ SITEURL }}/theme/js/js-old/js4.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/js-old/js5.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/js-old/js6.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/js-old/js7.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/js-old/js8.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/js-old/js9.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/js-old/timer.js"></script>-->
<!--Google Analytics Script. May not work without drupal-->

<script type='text/javascript'>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', "UA-48705802-1"]);
_gaq.push(['_trackPageview']);
(function() {
 var ga = document.createElement('script');
 ga.type = 'text/javascript';
 ga.async = true;
 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
 })();
</script>

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.5/slick.min.js"></script>
