<div id='osu-top-hat'>
  <!--<div class='container'>-->
    <a href='http://oregonstate.edu' class='tag'>
      <img src='{{ SITEURL }}/theme/img/osu-top-hat/OSU_newlogo.png' class='logo' alt='Oregon State University'>
      <span class='mobile-header'>OREGON STATE UNIVERSITY</span>
    </a>
    <form class="search" role="search" action="/search" method="get" id="osu-search-top-hat-form" accept-charset="UTF-8">
      <div>
        <div class="form-item form-type-textfield form-item-term">
          <label class="element-invisible" for="edit-term">Search Field </label>
          <input class="search-terms form-text" placeholder="Search this site" type="text" id="edit-term" name="q" value="" size="60" maxlength="128" />
        </div>
        <input class="icon-search word-hide form-submit" type="submit" id="edit-submit--2" name="op" value="Search"><i class="fa fa-search"></i></input>
      </div>
    </form>
    <!--<ul class='menu' style="margin-top:19.05px; text-align:left">
      <a href='http://calendar.oregonstate.edu/'><i class='fa fa-calendar' aria-hidden='true'></i> Calendar</a>
      <a href='http://library.oregonstate.edu/' style="padding-left:20px"><i class='fa fa-book' aria-hidden='true'></i> Library</a>
      <a href='http://oregonstate.edu/campusmap/' style="padding-left:20px"><i class='fa fa-map-marker' aria-hidden='true'></i> Maps</a>
      <a href='http://main.oregonstate.edu/' style="padding-left:20px"><i class='fa fa-cogs'></i> Online Services</a>
      <a href='{{ DONATE_LINK }}' style="padding-left:20px"><i class='fa fa-gift' aria-hidden='true'></i> Make a Gift</a>
    </ul>-->
  <!--</div>-->
</div>
<div id="mobile-icon-menu">
  <a href='#' id="toggle-mobile-menu" class="m-icon-link"><i class="fa fa-bars"></i></a>
  <!-- <a href='/search' id="mobile-search-link" class="m-icon-link"><i class="fa fa-search"></i></a> -->
</div>
