{% extends 'base.html' %}

{% block content %}

<div id="features">
    <div class='region region-features'>
        <div id="block-views-feature-story-block" class="block block-views">
            <div class="content">
                <div class="view view-feature-story view-id-feature_story view-display-id-block">
                    <div class='view-content front-page-story'>
                        {% for article in articles[:5] %}
                        <div class='fs-row'>
                            <a href="{{ article.url }}">
                                <img width="1200" height="564" alt="" src="{{ SITEURL }}/theme/img/{{ article.img }} "></img>
                            </a>
                            <div class="views-field-field-caption">
                                <h3 class="fs-title">
                                    <a href="{{ article.url }}">
                                        {{ article.title }}
                                    </a>
                                </h3>
                                <p class="fs-caption">
                                {% set summary = article.content | truncate(500) %}
                                {{ summary }}
                                </p>
                            </div>
                        </div>
                        {% endfor %}

                        <div style="clear: both;"></div>
                    </div>

                    <a id='prev' class="side-controls previous slick-prev">
                        <i class="icon-chevron-left"></i>
                    </a>
                    <a id='next' class="side-controls next slick-next">
                        <i class='icon-chevron-right'></i>
                    </a>
                    <div class='more-link'>
                        <a href='/blog'>
                            All stories
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
