{% extends 'base.html' %}

{% block content %}
{% set first_article = articles[0] %}
  <div class="mobile-title"><h3><a href="{{ first_article.url }}">{{ first_article.title }}</a></h3></div>
<div id="features">
    <div class='region region-features'>
      <div class="mobile-content">
        <img class='summary-image' alt="" src="{{ SITEURL }}/images/{{ first_article.img }} "></img>
      </div>

        <div id="block-views-feature-story-block" class="block block-views">
            <div class="content">
                <div class="view view-feature-story view-id-feature_story view-display-id-block">
                    <div class='view-content front-page-story'>
                        {% for article in articles[:5] %}
                        <div class='fs-row'>
                            <a href="{{ article.url }}">
                                <img class='summary-image' alt="" src="{{ SITEURL }}/images/{{ article.img }} "></img>
                            </a>
                            <div class="views-field-field-caption">
                                <h3 class="fs-title">
                                    <a href="{{ article.url }}">
                                        {{ article.title }}
                                    </a>
                                </h3>
                                <p class="fs-caption">
                                {% set summary = article.content | truncate(400) %}
                                {% set summary = summary | close_html_tags %}
                                {{ summary }}
                                </p>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                    <a id='prev' class="side-controls previous slick-prev">
                        <span class='icon-chevron-left'>&#8249;</span>
                    </a>
                    <a id='next' class="side-controls next slick-next">
                        <span class='icon-chevron-left'>&#8250;</span>
                    </a>
                    <div class='more-link'>
                        <a href={{ STORIES }}>
                            All stories
                        </a>
                    </div>
                </div>
                <!-- <div class="mobile-content">
                  <img class='summary-image' alt="" src="{{ SITEURL }}/images/{{ first_article.img }} "></img>
                </div> -->
            </div>
        </div>
    </div>
</div>

{% if CASS_HOME_EXTRAS %}
    <!-- Temp soln: {include} functionality is an open PR on getpelican 
                   Fixwhen it gets merged/Pelican 3.6.4 is released -->
    <p>The Center for Applied Systems and Software (CASS) is a non-profit organization
    that provides software development, testing and hosting solutions to clients
    while giving students hands-on industry experience. Students are given the
    opportunity and guidance to work with real-world clients and to see projects
    from start to finish. CASS prides itself in offering quality services to
    customers while providing a beneficial experience for our students.</p>
    <p>CASS has three units, each with a specialized focus, that work closely together
    to provide expanded services for clients and a more diverse experience for
    students.</p>
    
    <ul class="simple">
    <li><a class="reference external" href="cass.oregonstate.edu/units/osuosl/">Open Source Lab</a>: Open source hosting and software development</li>
    <li><a class="reference external" href="cass.oregonstate.edu/units/software-dev-group/">Software Development Group</a>: Designs and develops applications for all major
    platforms</li>
    <li><a class="reference external" href="cass.oregonstate.edu/units/test-and-iot-lab/">Test and IoT Lab</a>: Hardware and software testing services and Internet of
    Things (IoT) testing</li>
    </ul>
    <br>
{% endif %}

{% endblock %}
