{% extends 'base.html' %}

{% block content %}
<div id='content'>
  <div class="region region-content">
    <div id="block-system-main" class="block block-system">
      <div class="content">
        <h2 class='title page-title'>{{ page.title }}</h2>
        {% if page.img %}
        <div class="field field-name-field-featured-image field-type-image field-label-hidden">
          <div class="field-items">
            <div class="field-items even">
              <a href="/{{ page.url }}" class="active">
                <img src="{{ SITEURL }}/theme/img/{{ page.img }}" width="400" height="494" alt="" />
              </a>
            </div>
          </div>
        </div>
        {% endif %}

        {{ page.content }}
        
      </div>
    </div>
  </div>
</div>
{% endblock %}
