{% extends 'base.html' %}

{% block content %}
<div id='content'>
  <div class="region region-content">
    <div id="block-system-main" class="block block-system">
      <div class="content">
        {% if IS_CASS %}
          <h1 style='font-size:35px; padding-top:5px; color: #c34500'>{{ NAME_ABBREV }} {{NEWS_OR_BLOG }}</h1>
        {% endif %}
        {% if IS_OSL %}
          <h1 class="title">{{ DEP_NAME }} {{NEWS_OR_BLOG }}</h1>
        {% endif %}
        <br>
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <h2><a href='/{{ article.url }}'>{{ article.title }}</a></h2>
            <div class="field field-name-field-subtitle field-type-text field-label-hidden">
              <div class="field-items">
                <div class="field-item even">
                  by {{ article.author }} <!-- on {{ article.date }} -->
            </div></div></div>
            <!-- Only display image if DISPLAY_IMAGE = True in pelicanconf -->
            {% if article.img and DISPLAY_IMAGE %}
                <div class="field field-name-field-featured-image field-type-image field-label-hidden">
                  <div class="field-items">
                    <div class="field-item even">
                      <a href="/{{ article.url }}" class="active">
                        <img src="/images/{{ article.img }}" width="400" height="494" alt="" />
                      </a>
                    </div>
                  </div>
                </div>
            {% endif %}
            {{ article.summary }}
            <!-- <p><a href="/{{ article.url }}">Read more</a></p> -->
        {% endfor %}
        {% if articles_page %}
        <ul class="pager">
          {% if articles_page.has_previous() %}
          <li class="pager-next"><a title="Go to next page" href="{{ SITEURL }}/{{ articles_previous_page.url }}">‹ newer</a></li>
          {% endif %}
          {% if articles_page.has_next() %}
          <li class="pager-next"><a title="Go to next page" href="{{ SITEURL }}/{{ articles_next_page.url }}">older ›</a></li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
